.DS_Store
bin
obj
build*
output
*.user
*.cache
*.suo
Logs
TestResult.xml
# This line keeps the db in check - comment it out to update the starting db
data
_ReSharper*
lib/golden_cap.zip
*.orig
*.cache
packages
TestResults
/test-bed
*.ncrunchsolution